.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.row{
    margin:0;
    padding:0;
}

.col-md-6{
   margin-left: 0;
}

#logo{
    margin-bottom: 5vw;;
}

h1{
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color:rgb(48, 63, 159);
    margin-bottom: 5vw;
    margin-top: -1vw;
}

#button{
    border-color: transparent;
    width: 10rem;
    border-radius: 5rem;
    background-color: rgb(255, 217, 182);
    color:rgb(222, 134, 51);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    height: 3rem;
    justify-self: center;
    padding-right: 2vw;
    padding-bottom: 0.8vw;
}

#email, #senha{
    border-radius: 5rem;
>>>>>>> zaffari
    outline: none;
    border-color: transparent;
    background-color: rgb(207, 207, 254);
    cursor: pointer;
}

<<<<<<< HEAD
input::placeholder{
    color:rgb(48, 63, 159);
}

#mostrar_senha{
    margin-top: -1.9rem;
    margin-right: -23rem;
}

button{
    margin-top: 1.5rem;
    border-radius: 2rem;
    padding: 0.7rem 1.7rem 0.7rem 0.7rem;
    border-color: transparent;
    width: 8rem;
    background-color: rgb(255, 217, 182);
    color:rgb(222, 134, 51);
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.material-symbols-outlined{
    margin-top: -2rem;
    margin-left: 4.3rem;
    color: rgb(222, 134, 51);
    cursor: pointer;
}

a{
    color:rgb(48, 63, 159);
    margin-top: -0.5rem;
}

.bi-eye-slash{
    cursor: pointer;
}

#esqueceu_senha{
    margin-top: 1.5rem;
}

=======
.form-control::placeholder{
    color:rgb(48, 63, 159);
}

a{
    color:rgb(48, 63, 159);
    font-size: 1rem;;
}

#senha_section{
    position: relative;
}

.bi-eye-slash{
    position: absolute;
    bottom: 2rem; 
    right: 2rem;
    cursor: pointer;
}

.bi-eye{
    position: absolute;
    bottom: 2rem; 
    right: 2rem;
    cursor: pointer;
}

.btn{
    position: relative;
}

#seta{
    position: absolute;
    margin-left: 6rem;
    color: rgb(222, 134, 51);
    font-size: 1.3rem;
    cursor: pointer;
}
>>>>>>> zaffari
